{% block content %}
<html>
<head>
</head>
<title>
Genrate OTP
</title>
<body>
<br/><br/> <br/>
  <div class="container info-boxes pt100 pb100">
  <p></p>
      <h1 align="center">Enter Registered MobileNo number.</h1>
<form name="loginForm" action="" method="POST" align="center">
  {% csrf_token %}
      MobileNo: <input type="text" align="center" name="mobileNo" id="mobileNo" /></br></br>
      <input type="submit"  id="login"  value="Genrate OTP" size="500px" /><br/><br/><br/>
</form>

  </div>
</body>
</html>


{% endblock %}

