{% block content %}
<html>
<head>
</head>
<title>
Emailerror
</title>
<body>
<br/><br/>
  <div class="container info-boxes pt100 pb100">
  <p></p>
      <h3>Please enter a valid password which :</h3>
      <p> -length should be minimum eight.</p>
      <p> -contain minimum one digit.</p>       
      <p> -contain minimum one capital letter.</p>
      <p> -contain minimum one small letter.</p> 
 

  </div>
</body>
</html>


{% endblock %}      
